/*variables for colors*/
:root {
  --mainpink: #ffc6e7;
  --mainblue: #4273e4;
  --maingreen: #59cb92;
  --mainorange: #f9af4f;
  --mainvibepink: #f53da8;
}

/*variables for sizing */
:root {
  --font-unit-lrg: 2rem;
  --spacing-unit: 1.5rem;
  --spacing-unit-small: 0.75rem;
}

/* apply a natural box layout model to all elements, 
but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* element selectors by parent */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* class in alpha order */
.ai-c {
  align-items: center;
}

.bd-0 {
  border: 0;
}

.bgc-compblue {
  background-color: var(--mainblue);
}

.bgc-compgreen {
  background-color: var(--maingreen);
}

.bgc-comporange {
  background-color: var(--mainorange);
}

.bgc-mainpink {
  background-color: var(--mainpink);
}

.bgc-vibrantpink {
  background-color: var(--mainvibepink);
}

.bgg-blue {
  background: rgb(66, 115, 228);
  background: linear-gradient(
    31deg,
    rgba(66, 115, 228, 1) 0%,
    rgba(71, 159, 237, 1) 36%,
    rgba(80, 193, 238, 1) 100%
  );
}

.bgg-green {
  background: rgb(89, 203, 146);
  background: linear-gradient(
    31deg,
    rgba(89, 203, 146, 1) 0%,
    rgba(113, 223, 150, 1) 36%,
    rgba(127, 234, 154, 1) 100%
  );
}

.bgg-orange {
  background: rgb(249, 175, 79);
  background: linear-gradient(
    31deg,
    rgba(249, 175, 79, 1) 0%,
    rgba(253, 185, 87, 1) 36%,
    rgba(254, 236, 115, 1) 100%
  );
}

.bgg-vibepink {
  background: rgb(245, 61, 168);
  background: linear-gradient(
    31deg,
    rgba(245, 61, 168, 1) 0%,
    rgba(253, 91, 193, 1) 36%,
    rgba(255, 111, 209, 1) 100%
  );
}

.bdrs-10 {
  border-radius: 10px;
}

.brd-2 {
  border: 1px solid white;
}

.brdr- {
  border-radius: var(--spacing-unit-small);
}

.bxs-1-hv:hover {
  box-shadow: white inset 0px 0px 12px;
}

/* colors that compliment background color main-pink #ffc6e7 */

.c-mainpink {
  color: var(--mainpink);
}

.c-compblue {
  color: var(--mainblue);
}

.c-comporange {
  color: var(--mainorange);
}

.c-compgreen {
  color: var(maingreen);
}

/*continuing alphabetically*/

.c-white {
  color: white;
}

.d-f {
  display: flex;
}

.h-100vh {
  height: 100vh;
}

.h-5 {
  height: 5rem;
}

.ff-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fg-1 {
  flex-grow: 1;
}

.fw-700 {
  font-weight: 700;
}

.fx-1 {
  flex: 1 0 0;
}

.fxd-c {
  flex-direction: column;
}

.fxw-w {
  flex-wrap: wrap;
}

.fz-1 {
  font-size: 1rem;
}

.fz-2 {
  font-size: 2rem;
}

.g {
  gap: 1.5rem;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.h-100vh {
  max-height: 100vh;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.l-50 {
  left: 50%;
}

.lh-2 {
  line-height: 2rem;
}

.lis-n {
  list-style: none;
}

.m0 {
  margin: 0;
}

.ma {
  margin: auto;
}

.ml {
  margin-left: 1.5rem;
}

.mt {
  margin-top: 1.5rem;
}

.mh-90 {
  max-height: 90%;
}

.mx-30 {
  max-width: 30rem;
}

.mx-60 {
  max-width: 60rem;
}

.mx-70 {
  max-width: 70rem;
}

.mx-85 {
  max-width: 85rem;
}

.out-1 {
  outline: 2px white solid;
}

.p {
  padding: var(--spacing-unit);
}

.p- {
  padding: var(--spacing-unit-small);
}

.p0 {
  padding: 0;
}

.p20 {
  padding: 20px;
}

.p- {
  padding: var(--spacing-unit-small);
}

.p\+ {
  padding: 3rem;
}

.pl {
  padding-left: var(--spacing-unit);
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.pos-stky {
  position: sticky;
}

.pv- {
  padding-top: var(--spacing-unit-small);
  padding-bottom: var(--spacing-unit-small);
}

.t-n1p5 {
  top: -1.5rem;
}

.t0 {
  top: 0;
}

.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.trf-1 {
  transform: translate(-50%, 0);
}

.trn-1 {
  transition: all 0.5s ease-in-out;
}

.us-all-a:active {
  user-select: all;
}

.w-100vw {
  width: 100vw;
}

.w-10 {
  width: 10%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/* media query */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }

  .fg-1\@lrg {
    flex-grow: 1;
  }

  .fg-4\@lrg {
    flex-grow: 4;
  }

  .ml\@lrg {
    margin-left: var(--spacing-unit);
  }
}

@media (min-width: 600px) {
  .p\@md {
    padding: var(--spacing-unit);
  }
}

@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .miw-45\@lrg {
    min-width: 45%;
  }
}
