/* Press Start 2P Google Font */
.font-Orbitron {
  font-family: "Orbitron", sans-serif;
}

.card:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 15px white;
  transform: scale(1.1);
}

.card-size {
  width: 18rem;
}

.pic-width {
  width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-a-j {
  text-align: justify;
}

/* media queries */
@media (min-width: 769px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
