.font-title {
  font-family: "Raleway", sans-serif;
}

.font-page {
  font-family: "Open Sans", sans-serif;
}

.stats {
  font-size: small;
}

.long-link {
  font-size: x-small;
}

.vlong-link {
  font-size: xx-small;
}

.dark-btn {
  background-color: #666;
  color: whitesmoke;
}

.transparent-btn {
  background-color: none;
  color: whitesmoke;
  border-color: whitesmoke;
}

.section-light {
  background-color: white;
  color: black;
}

.section-dark {
  background-color: #666;
  color: whitesmoke;
}

.year-box {
  border-style: hidden;
  background-color: rgb(158, 156, 156);
}

.action-text {
  font-size: xx-large;
}

.center-content {
  text-align: center;
}
